*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Media Queries */

@media screen and (max-width:480px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 1200px) {
    
}